<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nodes/Containers info</title>
</head>
<body>

    {# This is a comment #}

    {# check the existence of now variable in the template using if tag #}

    {% if client %}
    <p>You have  such nodes:</p>
    {% for node in nodes %}
        <p>{{node.Spec.Role}} = {{node.ID}}</p>
    {% endfor %}
    <p>With such containers:</p>
    {% for container in containers %}
        <p><a href="/logs.html?t=container&id={{container.Id}}">{{container.Id}}</a></p>
    {% endfor %}

    {% else %}
        <p>Docker client is not available</p>
    {% endif %}

    <p>Current scheme: {{ request.scheme }}</p>

</body>
</html>
