<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nodes/Containers logs</title>
</head>
<body>

    {# This is a comment #}

    {# check the existence of now variable in the template using if tag #}

    {% if client %}
    <p>You have  such logs:</p>
        <p>{#{log_result}#}</p>
    {% endif %}

    {% for answ in log_result_split%}
        <p style="text-align: left; font-family: normal; font-size: 16px;"> {{ answ  }} </p>
    {% endfor %}                                                                               

    <p>Current scheme: {{ request.scheme }}</p>

</body>
</html>
